In [1]:
import pandas as pd
import numpy as np

In [5]:
df=pd.read_csv(r"D:\21bad014_ML\Buy_Computer.csv")
df

    id         age  income student credit_rating Buy_Computer
0    1       youth    high      no          fair           no
1    2       youth    high      no     excellent           no
2    3  middle_age    high      no          fair          yes
3    4      senior  medium      no          fair          yes
4    5      senior     low     yes          fair          yes
5    6      senior     low     yes     excellent           no
6    7  middle_age     low     yes     excellent          yes
7    8       youth  medium      no          fair           no
8    9       youth     low     yes          fair          yes
9   10      senior  medium     yes          fair          yes
10  11       youth  medium     yes     excellent          yes
11  12  middle_age  medium      no     excellent          yes
12  13  middle_age    high     yes          fair          yes
13  14      senior  medium      no     excellent           no

In [6]:
df=df.drop('id',axis=1)
df

           age  income student credit_rating Buy_Computer
0        youth    high      no          fair           no
1        youth    high      no     excellent           no
2   middle_age    high      no          fair          yes
3       senior  medium      no          fair          yes
4       senior     low     yes          fair          yes
5       senior     low     yes     excellent           no
6   middle_age     low     yes     excellent          yes
7        youth  medium      no          fair           no
8        youth     low     yes          fair          yes
9       senior  medium     yes          fair          yes
10       youth  medium     yes     excellent          yes
11  middle_age  medium      no     excellent          yes
12  middle_age    high     yes          fair          yes
13      senior  medium      no     excellent           no

In [7]:
df.columns

Index(['age', 'income', 'student', 'credit_rating', 'Buy_Computer'], dtype='object')

In [8]:
df['age'].unique()

array(['youth', 'middle_age', 'senior'], dtype=object)

In [21]:
def cal_entrophy(data):
    pi=0.0
    labels=list(data.iloc[:,-1].unique())
    rec=data.iloc[:,-1].count()
    print(labels)
    print(rec)
    for lab in labels:
        match_cnt=data[data.iloc[:,-1]==lab].iloc[:,-1].count()
        print(lab,match_cnt)
        prob=-((match_cnt/rec)*np.log2(match_cnt/rec))
        pi+=prob
    return pi

def cal_info_att(data,col_index):
    coln_labels=list(data.iloc[:,col_index].unique())
    rec=data.iloc[:,-1].count()
    prob=0.0
    for lab in coln_labels:
        new_df=data[data.iloc[:,col_index]==lab]
        match_cnt=data[data.iloc[:,col_index]==lab].iloc[:,-1].count()
        col_prob=cal_entrophy(new_df)
        prob+=((match_cnt/rec)*col_prob)
        print(prob)
    print(prob)
    return prob
    
def cal_gain(data,col_index):
    infod=cal_entrophy(data)
    infoatt=cal_info_att(data,col_index)
    gain=infod-infoatt
    print(gain)
    return gain
    
print(cal_entrophy(df))
print("Prob ",cal_info_att(df,1))
print("GAIN OF AGE",cal_gain(df,3))

cols=list(df.columns)
gain={}
for i in cols:
    gain[i]=cal_gain(df,cols.index(i))
print(gain)

['no', 'yes']
14
no 5
yes 9
0.9402859586706311
['no', 'yes']
4
no 2
yes 2
0.2857142857142857
['yes', 'no']
6
yes 4
no 2
0.6792696431662097
['yes', 'no']
4
yes 3
no 1
0.9110633930116763
0.9110633930116763
Prob  0.9110633930116763
['no', 'yes']
14
no 5
yes 9
['no', 'yes']
8
no 2
yes 6
0.46358749969093305
['no', 'yes']
6
no 3
yes 3
0.8921589282623617
0.8921589282623617
0.04812703040826949
GAIN OF AGE 0.04812703040826949
['no', 'yes']
14
no 5
yes 9
['no', 'yes']
5
no 3
yes 2
0.3467680694480959
['yes']
4
yes 4
0.3467680694480959
['yes', 'no']
5
yes 3
no 2
0.6935361388961918
0.6935361388961918
0.24674981977443933
['no', 'yes']
14
no 5
yes 9
['no', 'yes']
4
no 2
yes 2
0.2857142857142857
['yes', 'no']
6
yes 4
no 2
0.6792696431662097
['yes', 'no']
4
yes 3
no 1
0.9110633930116763
0.9110633930116763
0.02922256565895487
['no', 'yes']
14
no 5
yes 9
['no', 'yes']
7
no 4
yes 3
0.49261406801712576
['yes', 'no']
7
yes 6
no 1
0.7884504573082896
0.7884504573082896
0.15183550136234159
['no', 'yes']
14
no 5
yes 9
['no', 'yes']
8
no 2
yes 6
0.46358749969093305
['no', 'yes']
6
no 3
yes 3
0.8921589282623617
0.8921589282623617
0.04812703040826949
['no', 'yes']
14
no 5
yes 9
['no']
5
no 5
0.0
['yes']
9
yes 9
0.0
0.0
0.9402859586706311
{'age': 0.24674981977443933, 'income': 0.02922256565895487, 'student': 0.15183550136234159, 'credit_rating': 0.04812703040826949, 'Buy_Computer': 0.9402859586706311}